{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<h1>Editer cet utilisateur: </h1>
<a href="/">Back to the list</a>
<br/>
<br/>
<br/>
<br/>
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
{% endblock %}